<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    @*<link href="~/Content/components.min.css" rel='stylesheet' type='text/css' />*@

    @*<link href="~/Content/nouislider.min.css" rel='stylesheet' type='text/css' />*@
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/nouislider.min.js"></script>
        <script type="text/javascript" src="~/Scripts/components-nouisliders.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
@*<script type="text/javascript">
$(function () {
	var filterList = {
		init: function () {
			$('#portfoliolist').mixitup({
				targetSelector: '.portfolio',
				filterSelector: '.filter',
				effects: ['fade'],
				easing: 'snap',
				onMixEnd: filterList.hoverEffect()
			});
		},
		hoverEffect: function () {
			$('#portfoliolist .portfolio').hover(
				function () {
					$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
					$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
				},
				function () {
					$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
					$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
				}
			);
		}
	};
	filterList.init();
});
</script>*@
<body>
    @RenderPage("_Header.cshtml")

    @RenderBody()

    @RenderPage("_Footer.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
