@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>
            <a class="tx-left" href="~/UserProfile/Wallets">@ViewBag.balanc<img id="dollar" class="nav-icon" src="~/img/dollar-white.png" style="width:20px"></a>
        </li>
        <li>
            <a class="tx-left" href="javascript:document.getElementById('logoutForm').submit()"><img id="clipart" class="nav-icon" src="~/img/clipart.png"></a>
        </li>
        <li class="fixLi">
            <a class="tx-left" href="~/Cart/Index"><img id="cart" class="nav-icon" src="~/img/cart.png">@ViewBag.sum<img id="dollar" class="nav-icon" src="~/img/dollar-white.png" style="width:20px"></a>
        </li>
        <script>
            $(function () {
                $('#nav1').each(function () {
                    $(this).css('margin-top', '10px');
                });
                var WindowsSize = function () {
                    var w = $(window).width();
                    if (w < 861) {
                        $('#dollar').each(function () {
                            $(this).attr('src', '/img/dollar-black.png');
                        });
                        $('#clipart').each(function () {
                            $(this).attr('src', '/img/clipart-black.png');
                        });
                        $('#cart').each(function () {
                            $(this).attr('src', '/img/cart-black.png');
                        });
                    }
                    else {
                        $('#dollar').each(function () {
                            $(this).attr('src', '/img/dollar-white.png');
                        });
                        $('#clipart').each(function () {
                            $(this).attr('src', '/img/clipart.png');
                        });
                        $('#cart').each(function () {
                            $(this).attr('src', '/img/cart.png');
                        });
                        $('.fixLi').each(function () {
                            $(this).css('margin-left', '40px');
                        });
                    }
                };
                $(document).ready(WindowsSize);
                $(window).resize(WindowsSize); 
                
            });
        </script>
        @*<li id="dropdown-width">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <ul class="ulWidth">
                    <li>
                        <a class="tx-left" href="~/UserProfile/Wallets">My Wallets</a>
                    </li>
                    <li>
                        <a class="tx-left" href="~/UserProfile/Profile">My Profile</a>
                    </li>
                    <li>
                        <a class="tx-left" href="~/UserProfile/Settings">Settings</a>
                    </li>
                    <li>
                        <a class="tx-left" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                    </li>
                </ul>
            </li>
            <script>
                $(function () {
                    var width = document.getElementById('dropdown-width').offsetWidth;

                    if (width - 15 < 140) {
                        $('.ulWidth').each(function () {
                            $(this).css('width', 166);
                            $(this).css('padding', ' 8px 5px 8px 5px');
                            $(this).css('background', 'black');
                            $(this).css('margin-left', '-15px');
                        });
                    }
                    else {
                        $('.ulWidth').each(function () {
                            $(this).css('width', width + 26);
                            $(this).css('padding', ' 8px 5px 8px 5px');
                            $(this).css('background', 'black');
                            $(this).css('margin-left', '-15px');
                        });
                    }
                    $('.menu2').each(function () {
                        $(this).css('display', 'contents');
                    });
                    $('.tx-left').each(function () {
                        $(this).css('text-align', 'left');
                        $(this).css('margin-left', '0px');
                        $(this).css('padding-right', '20px');
                    });
                });
            </script>*@
    }
}
else
{
    <li class="fixNavLi">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="fixNavLi">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
